.button-container {
  height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: rgb(171, 153, 250);
  &:hover {
    background-color: rgb(121, 100, 215);
    color: white;
  }

  &:active {
    transform: scale(0.95);
  }

  &.inverted {
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(171, 153, 250);
    max-width: 200px;

    &:hover {
      background-color: rgb(121, 100, 215);
      color: white;
      border: none;
    }
  }

  .spinner-container {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
